## 練習時間
將你的結果存成 csv, 上傳你的第一份 Kaggle 成績

Hints: https://stackoverflow.com/questions/16923281/pandas-writing-dataframe-to-csv-file

# [作業目標]
- 檢視並重新執行腳本, 試著將執行結果存檔並提交到 Kaggle 上

# [作業重點]
- 執行後, 將所得結果, 存成可以提交的 csv 檔 (In[10]) (Hint : 使用 pandas.DataFreame.to_csv)

In [1]:
# 載入需要的套件
import os
import numpy as np 
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

### 仿造之前做過的處理

In [3]:
# 設定 data_path
dir_data = '/Users/shihhaohuang/Desktop/data/Part01'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')

# 讀取檔案
app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

In [4]:
# 種類 2 種以下的類別型欄位轉標籤編碼 (Label Encoding)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le_count = 0

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder
            le.fit(app_train[col])
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            # 紀錄有多少個 columns 被標籤編碼過
            le_count += 1
            
# 標籤編碼 (2種類別) 欄位轉 One Hot Encoding            
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

In [5]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)
app_test['DAYS_EMPLOYED_ANOM'] = app_test["DAYS_EMPLOYED"] == 365243
app_test["DAYS_EMPLOYED"].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])
app_test['DAYS_BIRTH'] = abs(app_test['DAYS_BIRTH'])

### 做好前處理
開始擬合模型之前，我們要確保 training & testing data 的欄位數量一致，原因是因為 One hot encoding 會製造多的欄位，有些類別出現在 training data 而沒有出現 testing data 中，我們就要把這些多餘的欄位去除

In [6]:
train_labels = app_train['TARGET']

# 調整欄位數, 移除出現在 training data 而沒有出現 testing data 中的欄位
app_train, app_test = app_train.align(app_test, join = 'inner', axis = 1)

In [7]:
from sklearn.preprocessing import MinMaxScaler, Imputer

# 特徵欄位清單
train = app_train
features = list(train.columns)

# 複製 test 資料
test = app_test.copy()

# 填補器 : 設定缺失值補中位數
imputer = Imputer(strategy = 'median')

# 縮放器 : 設定特徵縮放到 0~1 區間
scaler = MinMaxScaler(feature_range = (0, 1))

# 填補器載入個欄中位數
imputer.fit(train)

# 將中位數回填 train, test 資料中的空缺值
train = imputer.transform(train)
test = imputer.transform(app_test)

# 縮放器載入 train 的上下限, 對 train, test 進行縮放轉換
scaler.fit(train)
train = scaler.transform(train)
test = scaler.transform(test)

print('Training data shape: ', train.shape)
print('Testing data shape: ', test.shape)

/Users/shihhaohuang/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

Training data shape:  (307511, 240)
Testing data shape:  (48744, 240)

### Fit the model

In [8]:
from sklearn.linear_model import LogisticRegression

# 設定模型與模型參數
log_reg = LogisticRegression(C = 0.0001)

# 使用 Train 資料訓練模型
log_reg.fit(train, train_labels)

/Users/shihhaohuang/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=0.0001, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='warn', tol=0.0001, verbose=0, warm_start=False)

模型 fit 好以後，就可以用來預測 testing data 中的客戶違約遲繳貸款的機率咯! (記得要用 predict_proba 才會輸出機率)

In [9]:
# 用模型預測結果
# 請注意羅吉斯迴歸是分類預測 (會輸出 0 的機率, 與 1 的機率), 而我們只需要留下 1 的機率這排
log_reg_pred = log_reg.predict_proba(test)[:, 1]

### 儲存預測結果

In [12]:
# 計算提交結果
submit = app_test[['SK_ID_CURR']]
submit['TARGET'] = log_reg_pred

submit.head()

/Users/shihhaohuang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   SK_ID_CURR    TARGET
0      100001  0.065051
1      100005  0.126401
2      100013  0.081239
3      100028  0.061509
4      100038  0.128308

In [19]:
df = pd.DataFrame(submit)
df

       SK_ID_CURR    TARGET
0          100001  0.065051
1          100005  0.126401
2          100013  0.081239
3          100028  0.061509
4          100038  0.128308
5          100042  0.055894
6          100057  0.083035
7          100065  0.125470
8          100066  0.050359
9          100067  0.103295
10         100074  0.063246
11         100090  0.115127
12         100091  0.117158
13         100092  0.098101
14         100106  0.155821
15         100107  0.111813
16         100109  0.098570
17         100117  0.076216
18         100128  0.073494
19         100141  0.087928
20         100150  0.075497
21         100168  0.064995
22         100169  0.044325
23         100170  0.086903
24         100171  0.099828
25         100172  0.121537
26         100184  0.073917
27         100187  0.061739
28         100212  0.085807
29         100222  0.084763
...           ...       ...
48714      455963  0.087939
48715      455965  0.085623
48716      456007  0.133974
48717      456008  0.066537
48718      456009  0.077020
48719      456010  0.077867
48720      456011  0.061562
48721      456013  0.095848
48722      456028  0.124448
48723      456058  0.088149
48724      456111  0.103099
48725      456114  0.094245
48726      456115  0.095882
48727      456116  0.069321
48728      456119  0.059839
48729      456120  0.102240
48730      456122  0.116229
48731      456123  0.046316
48732      456166  0.089938
48733      456167  0.068266
48734      456168  0.094200
48735      456169  0.056179
48736      456170  0.052039
48737      456189  0.085418
48738      456202  0.091333
48739      456221  0.082729
48740      456222  0.085411
48741      456223  0.057024
48742      456224  0.074135
48743      456250  0.089832

[48744 rows x 2 columns]

In [21]:
df.to_csv('file_test.csv')

In [22]:
!ls

Day_016_HW.ipynb          Day_016_first_model.ipynb file_test.csv

In [23]:
# 設定 data_path
dir_data = '.'
file_test = os.path.join(dir_data, 'file_test.csv')

# 讀取檔案
test_file = pd.read_csv(file_test)
test_file

       Unnamed: 0  SK_ID_CURR    TARGET
0               0      100001  0.065051
1               1      100005  0.126401
2               2      100013  0.081239
3               3      100028  0.061509
4               4      100038  0.128308
5               5      100042  0.055894
6               6      100057  0.083035
7               7      100065  0.125470
8               8      100066  0.050359
9               9      100067  0.103295
10             10      100074  0.063246
11             11      100090  0.115127
12             12      100091  0.117158
13             13      100092  0.098101
14             14      100106  0.155821
15             15      100107  0.111813
16             16      100109  0.098570
17             17      100117  0.076216
18             18      100128  0.073494
19             19      100141  0.087928
20             20      100150  0.075497
21             21      100168  0.064995
22             22      100169  0.044325
23             23      100170  0.086903
24             24      100171  0.099828
25             25      100172  0.121537
26             26      100184  0.073917
27             27      100187  0.061739
28             28      100212  0.085807
29             29      100222  0.084763
...           ...         ...       ...
48714       48714      455963  0.087939
48715       48715      455965  0.085623
48716       48716      456007  0.133974
48717       48717      456008  0.066537
48718       48718      456009  0.077020
48719       48719      456010  0.077867
48720       48720      456011  0.061562
48721       48721      456013  0.095848
48722       48722      456028  0.124448
48723       48723      456058  0.088149
48724       48724      456111  0.103099
48725       48725      456114  0.094245
48726       48726      456115  0.095882
48727       48727      456116  0.069321
48728       48728      456119  0.059839
48729       48729      456120  0.102240
48730       48730      456122  0.116229
48731       48731      456123  0.046316
48732       48732      456166  0.089938
48733       48733      456167  0.068266
48734       48734      456168  0.094200
48735       48735      456169  0.056179
48736       48736      456170  0.052039
48737       48737      456189  0.085418
48738       48738      456202  0.091333
48739       48739      456221  0.082729
48740       48740      456222  0.085411
48741       48741      456223  0.057024
48742       48742      456224  0.074135
48743       48743      456250  0.089832

[48744 rows x 3 columns]

In [28]:
df.to_csv('file_test2.csv',index = False)

### The result:
![](https://i.imgur.com/A4P7m2D.jpg)