# 作業 : (Kaggle)鐵達尼生存預測
***
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成自己挑選特徵的群聚編碼 (In[2], Out[2])
- 觀察群聚編碼, 搭配邏輯斯回歸, 看看有什麼影響 (In[5], Out[5], In[6], Out[6])

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [27]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = '/Users/shihhaohuang/Desktop/data/Part02/'
df = pd.read_csv(data_path + 'titanic_train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼
"""
Your Code Here
"""
df['Sex'] = df['Sex'].fillna('Sex')
mean_df = df.groupby(['Sex'])['Age'].mean().reset_index()
mode_df = df.groupby(['Sex'])['Age'].apply(lambda x: x.mode()[0]).reset_index()
median_df = df.groupby(['Sex'])['Age'].median().reset_index()
temp = pd.merge(mean_df,mode_df,how = 'left', on = ['Sex'])
temp = pd.merge(temp,median_df,how = 'left', on = ['Sex'])
temp

      Sex      Age_x  Age_y   Age
0  female  27.915709   24.0  27.0
1    male  30.726645   19.0  29.0

In [29]:
temp.columns = ['Sex','Mean_Age','Mode_Age','Median_Age']
temp

      Sex   Mean_Age  Mode_Age  Median_Age
0  female  27.915709      24.0        27.0
1    male  30.726645      19.0        29.0

In [30]:
df = pd.merge(df,temp, how = 'left', on = ['Sex'])
df = df.drop(['Sex'],axis = 1)
df

,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Mean_Age,Mode_Age,Median_Age
0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,30.726645,19.0,29.0
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,27.915709,24.0,27.0
2,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,27.915709,24.0,27.0
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,27.915709,24.0,27.0
4,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,30.726645,19.0,29.0
5,3,"Moran, Mr. James",NaN,0,0,330877,8.4583,NaN,Q,30.726645,19.0,29.0
6,1,"McCarthy, Mr. Timothy J",54.0,0,0,17463,51.8625,E46,S,30.726645,19.0,29.0
7,3,"Palsson, Master. Gosta Leonard",2.0,3,1,349909,21.0750,NaN,S,30.726645,19.0,29.0
8,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",27.0,0,2,347742,11.1333,NaN,S,27.915709,24.0,27.0
9,2,"Nasser, Mrs. Nicholas (Adele Achem)",14.0,1,0,237736,30.0708,NaN,C,27.915709,24.0,27.0
10,3,"Sandstrom, Miss. Marguerite Rut",4.0,1,1,PP 9549,16.7000,G6,S,27.915709,24.0,27.0
11,1,"Bonnell, Miss. Elizabeth",58.0,0,0,113783,26.5500,C103,S,27.915709,24.0,27.0
12,3,"Saundercock, Mr. William Henry",20.0,0,0,A/5. 2151,8.0500,NaN,S,30.726645,19.0,29.0
13,3,"Andersson, Mr. Anders Johan",39.0,1,5,347082,31.2750,NaN,S,30.726645,19.0,29.0
14,3,"Vestrom, Miss. Hulda Amanda Adolfina",14.0,0,0,350406,7.8542,NaN,S,27.915709,24.0,27.0
15,2,"Hewlett, Mrs. (Mary D Kingcome)",55.0,0,0,248706,16.0000,NaN,S,27.915709,24.0,27.0
16,3,"Rice, Master. Eugene",2.0,4,1,382652,29.1250,NaN,Q,30.726645,19.0,29.0
17,2,"Williams, Mr. Charles Eugene",NaN,0,0,244373,13.0000,NaN,S,30.726645,19.0,29.0
18,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",31.0,1,0,345763,18.0000,NaN,S,27.915709,24.0,27.0
19,3,"Masselmani, Mrs. Fatima",NaN,0,0,2649,7.2250,NaN,C,27.915709,24.0,27.0
20,2,"Fynney, Mr. Joseph J",35.0,0,0,239865,26.0000,NaN,S,30.726645,19.0,29.0
21,2,"Beesley, Mr. Lawrence",34.0,0,0,248698,13.0000,D56,S,30.726645,19.0,29.0
22,3,"McGowan, Miss. Anna ""Annie""",15.0,0,0,330923,8.0292,NaN,Q,27.915709,24.0,27.0
23,1,"Sloper, Mr. William Thompson",28.0,0,0,113788,35.5000,A6,S,30.726645,19.0,29.0
24,3,"Palsson, Miss. Torborg Danira",8.0,3,1,349909,21.0750,NaN,S,27.915709,24.0,27.0
25,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",38.0,1,5,347077,31.3875,NaN,S,27.915709,24.0,27.0
26,3,"Emir, Mr. Farred Chehab",NaN,0,0,2631,7.2250,NaN,C,30.726645,19.0,29.0
27,1,"Fortune, Mr. Charles Alexander",19.0,3,2,19950,263.0000,C23 C25 C27,S,30.726645,19.0,29.0
28,3,"O'Dwyer, Miss. Ellen ""Nellie""",NaN,0,0,330959,7.8792,NaN,Q,27.915709,24.0,27.0
29,3,"Todoroff, Mr. Lalio",NaN,0,0,349216,7.8958,NaN,S,30.726645,19.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...
861,2,"Giles, Mr. Frederick Edward",21.0,1,0,28134,11.5000,NaN,S,30.726645,19.0,29.0
862,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",48.0,0,0,17466,25.9292,D17,S,27.915709,24.0,27.0
863,3,"Sage, Miss. Dorothy Edith ""Dolly""",NaN,8,2,CA. 2343,69.5500,NaN,S,27.915709,24.0,27.0
864,2,"Gill, Mr. John William",24.0,0,0,233866,13.0000,NaN,S,30.726645,19.0,29.0
865,2,"Bystrom, Mrs. (Karolina)",42.0,0,0,236852,13.0000,NaN,S,27.915709,24.0,27.0
866,2,"Duran y More, Miss. Asuncion",27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,27.915709,24.0,27.0
867,1,"Roebling, Mr. Washington Augustus II",31.0,0,0,PC 17590,50.4958,A24,S,30.726645,19.0,29.0
868,3,"van Melkebeke, Mr. Philemon",NaN,0,0,345777,9.5000,NaN,S,30.726645,19.0,29.0
869,3,"Johnson, Master. Harold Theodor",4.0,1,1,347742,11.1333,NaN,S,30.726645,19.0,29.0
870,3,"Balkic, Mr. Cerin",26.0,0,0,349248,7.8958,NaN,S,30.726645,19.0,29.0
871,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",47.0,1,1,11751,52.5542,D35,S,27.915709,24.0,27.0
872,1,"Carlsson, Mr. Frans Olof",33.0,0,0,695,5.0000,B51 B53 B55,S,30.726645,19.0,29.0
873,3,"Vander Cruyssen, Mr. Victor",47.0,0,0,345765,9.0000,NaN,S,30.726645,19.0,29.0
874,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",28.0,1,0,P/PP 3381,24.0000,NaN,C,27.915709,24.0,27.0
875,3,"Najib, Miss. Adele Kiamie ""Jane""",15.0,0,0,2667,7.2250,NaN,C,27.915709,24.0,27.0
876,3,"Gustafsson, Mr. Alfred Ossian",20.0,0,0,7534,9.8458,NaN,S,30.726645,19.0,29.0
877,3,"Petroff, Mr. Nedelio",19.0,0,0,349212,7.8958,NaN,S,30.726645,19.0,29.0
878,3,"Laleff, Mr. Kristo",NaN,0,0,349217,7.8958,NaN,S,30.726645,19.0,29.0
879,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",56.0,0,1,11767,83.1583,C50,C,27.915709,24.0,27.0
880,2,"Shelley, Mrs. William (Imanita Parrish Hall)",25.0,0,1,230433,26.0000,NaN,S,27.915709,24.0,27.0
881,3,"Markun, Mr. Johann",33.0,0,0,349257,7.8958,NaN,S,30.726645,19.0,29.0
882,3,"Dahlberg, Miss. Gerda Ulrika",22.0,0,0,7552,10.5167,NaN,S,27.915709,24.0,27.0
883,2,"Banfield, Mr. Frederick James",28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,30.726645,19.0,29.0
884,3,"Sutehall, Mr. Henry Jr",25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,30.726645,19.0,29.0
885,3,"Rice, Mrs. William (Margaret Norton)",39.0,0,5,382652,29.1250,NaN,Q,27.915709,24.0,27.0
886,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,S,30.726645,19.0,29.0
887,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,S,27.915709,24.0,27.0
888,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,S,27.915709,24.0,27.0
889,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,C,30.726645,19.0,29.0
890,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,Q,30.726645,19.0,29.0

In [31]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
df.head()

8 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Mean_Age', 'Mode_Age', 'Median_Age']

   Pclass   Age  SibSp  Parch     Fare   Mean_Age  Mode_Age  Median_Age
0       3  22.0      1      0   7.2500  30.726645      19.0        29.0
1       1  38.0      1      0  71.2833  27.915709      24.0        27.0
2       3  26.0      0      0   7.9250  27.915709      24.0        27.0
3       1  35.0      1      0  53.1000  27.915709      24.0        27.0
4       3  35.0      0      0   8.0500  30.726645      19.0        29.0

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?

In [33]:
df_origin = df.drop(['Mean_Age', 'Mode_Age', 'Median_Age'],axis = 1)

train_X = MMEncoder.fit_transform(df_origin)
estimator = LogisticRegression(solver = 'lbfgs')
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

/Users/shihhaohuang/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

0.7004864906462793

In [34]:
train_X = MMEncoder.fit_transform(df)
estimator = LogisticRegression(solver = 'lbfgs')
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

/Users/shihhaohuang/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

0.7834010157504805

有提升